.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    justify-content: center;
    
}
.display {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    box-sizing: border-box;

  }
  

  /* Special buttons */

  .spItems{
 margin: 25px;
 /* margin-right: 25px; */
 width: 80px;
 height: 80px;
 border-radius: 100%;
 font-size: 2rem;
 background: rgb(11,93,155);
 color: white;
 box-sizing: border-box;
 box-shadow: 1px 1px #322c2d;

  }

  /* Number buttons */

.numItems{
      margin: 25px;
      /* margin-right: 20px; */
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color:rgb(79,120,156);
      color: white;
      font-size: 2rem;
      box-sizing: border-box;
      box-shadow: 1px 1px #322c2d;
  }


  /* Operator buttons */
  .opElements{
      margin: 25px;
      margin-left: 0px;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: rgb(0,114,145);
      color: white;
      font-size: 2rem;
      justify-content: center;
      box-sizing: border-box;
      box-shadow: 1px 1px #322c2d;
  }
  .numSection > :nth-child(10){
      width: 210px;
      height: 80px;
      border-radius: 55px;
      margin: 25px;
  }

  /* Container */

.section-body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
align-self: center;
  

  }
  
  .column-one{
  margin: 15px;
  margin-left: 15px;
  margin-right: 0;
  width: 75%;;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* border: 2px solid green; */
  }

  .column-two {
      /* margin: 15px; */
      /* margin-left: 0; */
      margin-left: 0;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      /* border: 2px solid white; */
       
  }
  

  
 
  