.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    justify-content: center;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
  .spContainer{
  width: 75%;
  display: flex;

  

  }

  .spItems{
 margin: 18px;
 margin-right: 10px;
 width: 17%;
 height: 60px;
 border-radius: 100%;
 font-size: 1.5rem;
 background: green;
 color: white;

  }

  .opSection {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: right;
      float: right;
     
  }
  .opElements{
      padding-top: 10px;
      margin: 10px;
      margin-top: 18px;
      margin-right: 10px;
      margin-left: 0px;
      width: 49%;
      height: 70px;
      border-radius: 100%;
      background-color: cornflowerblue;
      color: white;
      font-size: 1.5rem;
      justify-content: right;
    
  }
  .numSection{
      width: 75%;
      display: flex;
      flex-wrap: wrap;
  }

  .numSection > :nth-child(10){
      width:42%;
      height: 60px;
      border-radius: 30px;
  }
  .numItems{
      margin: 18px;
      width: 17%;
      height: 60px;
      border-radius: 100%;
      background-color: blue;
      color: white;
      font-size: 1.5rem;
  }

  

  