.container {
    background-color: #c00025;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    justify-content: center;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
  

  /* Special buttons */

  .spItems{
 margin: 15px;
 margin-right: 0;
 width: 80px;
 height: 80px;
 border-radius: 100%;
 font-size: 1.5rem;
 background: rgb(11,93,155);
 color: white;
 box-sizing: border-box;

  }

  /* Number buttons */

.numItems{
      margin: 15px;
      margin-right: 0;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color:rgb(79,120,156);
      color: white;
      font-size: 1.5rem;
      box-sizing: border-box;
  }


  /* Operator buttons */
  .opElements{
      margin: 15px;
      margin-left: 0px;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: rgb(0,114,145);
      color: white;
      font-size: 1.5rem;
      justify-content: center;
      box-sizing: border-box;
  }
  .numSection > :nth-child(10){
      width: 160px;
      height: 80px;
      border-radius: 55px;
      margin: 15px;
  }

  /* Container */

.section-body{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* flex-direction: column; */
  box-sizing: border-box;

  

  }
  
  .column-one{
  /* margin: 15px; */
  margin-left: 15px;
  margin-right: 0;
  width: 75%;;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  }

  .column-two {
      /* margin: 15px; */
      /* margin-left: 0; */
      margin-left: 0;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
       
  }
  

  
 
  